@import url('https://fonts.googleapis.com/css?family=Lato');


html {
}

body {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);
  background: linear-gradient(to right, #516395, #614385);
  color: white;
}

a {
  color: white;
  transition: 0.2s ease-in;
}

a:hover {
  color: black;
  transition: 0.2s ease-in;
  text-decoration: none;
}

.carousel .carousel-item {
  height: 50vh;
  width: 50vw;
  
}

.test2 {
  height: 100vh;
  width: 100vw;
}

.col {
  margin-top: 25vh;
}

.infoCard {
  width:450px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.28);
  color: white;
}

.bio {
  color: #cfd4d7;
  text-align: center;
  padding: 2%;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}



.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  margin: 0;
}

.socialdiv {
  text-align: center;
}

.socialIcons {
  color: #2c3e50;
  font-size: 250%;
  padding: 3%;
  transition: 0.2s ease-in;
}

.socialIcons:hover {
  color: white;
  transition: 0.2s ease-in;
}


.text {
  opacity: 1;
}

.name {
    color: rgb(255, 255, 255);
    word-spacing: 1px;
    letter-spacing: 1px;
}

.imageLogo {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

@media only screen and (max-width: 420px){
  .infoCard {
    width: 90vw;
  }

  .socialIcons {
    padding: 1.8%;
    font-size: 200%;
  }
}
