@import url('https://fonts.googleapis.com/css?family=Lato');


html {
}

body {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);
  background: linear-gradient(to right, #516395, #614385);
}


.col {
  margin-top: 25vh;
}

.infoCard {
  width:450px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.49);
}


/*@media only screen and (min-width: 330px) {
  .infoCard {
    width: 370px;
  }
}*/


.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  margin: 0;
}

.socialdiv {
  text-align: center;
}

.socialIcons {
  color: black;
  font-size: 250%;
  padding: 3%;
  transition: 0.2s ease-in;
}

.socialIcons:hover {
  color: #cc2b5e;
  transition: 0.2s ease-in;
}


.text {
  opacity: 1;
}

.imageLogo {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 420px){
  .infoCard {
    width: 90vw;
  }

  .socialIcons {
    padding: 1.8%;
    font-size: 200%;
  }
}
